<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Gradient (2017-03-30 14:32)</string>
	<string>M7.2-4582-1</string>
	<string>G-r13-2C85</string>
</array>
</plist>
